.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}